    html{
        scroll-behavior:smooth;
    }
    .my-container{
    min-height:100vh;
    text-align:center;
    background-color:aliceblue;
    border: 5px solid navy;
    margin:20px;
    padding:40px;
    border-radius: 10px;
    box-shadow:10px10px20px gray;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to right,navy,purple);
    color: white;
    
    }
h1{
    
    color : white;
    text-align:center;
    font-size:50px;
    text-decoration:underline;
    font-family: Arial, sans-serif;
    border: 2px solid white;
    border-radius:10px;
    padding:20px;
    margin:30px;
    text-shadow:2px 2px 5px gray;
    margin-top:20px;
}
p{
    color:white;
    font-size:20px;
    font-weight:bold;  
}
img{
    width:200px;
    height: auto;
    border-radius:15px;
    border: 3px solid navy;
    margin-bottom: 20px;
    transition: 0.3s;
    margin-top: 20px; 
    max-width: 100;
    object-fit: cover;
    

}
nav{
    background-color: navy;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-size:20px;
    font-weight:bold;
}
nav a:hover{
    color:yellow;
}
button{
    background-color:navy;
    color:white;
    padding:12px 25px;
    font-size:18px;
    border: none;
    border-radius:18px;
    cursor:pointer;
    box-shadow:3px 3px 10px gray;
    transition: 0.3s;
       
}
button:hover{
    background-color:royalblue;
    transform: scale(1.1);
}
img:hover{
transform: scale(1.1);
}
footer{
    background-color:navy;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
    font-size:18px;
}


h2{
    color : navy;
}
section{
    margin:40px auto;
    text-align:center;
    background-color: white;
    width : 90%;
    padding : 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px gray;
    max-width: 900px;

}
#skills ul{
    list-style-type: none;
    padding: 0;
}
#skills li{
    font-size: 20px;
    color: navy;
    margin: 10px;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border-radius: 8px;

}
#skills{
    margin: 40px auto;
    width:80%;
    padding:25px;
    background-color:white;
    border-radius:15px;
    box-shadow:0px 4px 10px gray;
    text-align:center;
}


#contact p{
    font-size: 18px;
    color: #444;
}
a {
   display: inline-block;
   text-decoration: none;
   background-color: navy;
   color: white;
   padding: 10px 20px;
   border-radius: 8px;
   margin: 8px;
}
a:hover{
    background-color: purple;
}
#about{
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    background: #f8f9f8;
    color: black;
    display: block;
} 

    

.about img{
    width: 120px;
    border-radius: 50%;
}
#about p{
    color: black;
    font-size: 20px;
    line-height: 1.8;
}

#about h2{
    color: navy;
}
#education p{
    color: black;
    font-size: 20px;
    line-height: 1.8;
    margin: 10px 0;
}
#education strong{
    color: navy;
}

#certifications li{
    list-style: none;
    color: navy;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}
#certifications{
    margin:40px auto;
    text-align:center;
    background-color:white;
    width:80%;
    padding:25px;
    border-radius:15px;
    box-shadow:o 4px 10px rgba(0,0,0,0,2);
}
#certifications h2{
    color:navy;
}
#certifications p{
    color:black;
    font-size:20px;
    line-height:1.8;
}
#certifications strong{
    color:navy;
}
.project-card{
    background:#f5f7ff;
    padding:20px;
    margin: 20px auto;
    width: 90%;
    border-radius:10px;
    border:1px solid lightgray;
    text-align:center;
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width: 400px;

    
}
.project-card h3{
    color:navy;
    
}
.project-card p{
    color:black;
    line-height: 1.6;
    font-size:20px;
    display:block;
    margin:10px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: break-word;

}
#projects{
    text-align:center;
}
body{
    margin:0;
    padding:0
}
html,
body {
    width: 100%;
    overflow-x: hidden;
}
@media(max-width:768px){

    nav a{
        display:block;
        margin:10px 0;
    }
    h1 {
        font-size:35px;
    }
    section{
        width:95%;
        padding:15px;
    }
    .project-card{
        width:95%;
    }
    img{
        width:150px;
        height:150px;
    }
}








